@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  color: #141414;
}

h1,h2,h3,h4,h5,h6,
p {
  margin: 0px;
  padding: 0px;
}


img {
  max-width: 100%;
  display: block;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  height: 100vh;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;

}

.container-inicial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 100px 40px;

}

h6 {
  font-size: 2.15rem;
  display: flex;
  gap: 5px;
}

h6>a {
  width: 15px;
  transform: rotate(180deg);
  padding: 10px 0px 10px 10px;
  cursor: pointer;
}

b {
  color: #FF4664
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  border: 0px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button#azul {
  background-color: #00d4ff;
}


button#azul:hover  {
  background-color: #04a2c2;
}

button#rosa {
  background-color: #FF4664
}

button#rosa:hover {
  background-color: #c5364e
}

button span {
  font-size: 1.2rem;
  font-weight: 400;
}

.container-registro {
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 20px;
}

.container-registro p {
  font-size: 0.8rem;
  font-weight: bold;
}

.container-registro a {
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
}

.container-registro div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.6);
}

@media screen and (max-width:1000px){
  .conteudo {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .container-logo {
    flex-direction: column-reverse;
    padding: 30px;
    margin: 0 auto;
  }
  #figura {
    display: none;
  }
  .container-inicial{
    padding: 60px 40px;
    gap: 30px;
  }
  .container-registro{
    gap: 10px;
  }
}
